<!DOCTYPE html>
<html lang="en">
<head>

{# Load the tag library #}
{% load bootstrap3 %}
<script src="{% bootstrap_jquery_url %}"></script>
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript %}
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
